
html{
    cursor: url(imagens/rede.png) 30 30, auto;
}
body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* posição das bolhas dentro do jogo */
.bolhas{
    margin-top: 195px;
    background-repeat: repeat-x;
    background-position: center;
}
/*modificação do 
tamanho da água-viva*/
.aguaViva1{
    height: 50px;
    width:50px;
}
.aguaViva2{
    height: 70px;
    width: 70px;
}
.aguaViva3{
    height: 90px;
    width: 90px;
}

/*Vidas e tempo restante*/
.painel{
    position: absolute;
    width: 130px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
    left: 0px;
    float: bottom;
}
.vidas{
    float: left;
}
.cronometro{
    float:left ;
    font-size:20px ;
    font-weight: bold;
}

/*botões do inicio do jogo*/
#btAmarelo{
    margin-top: -11rem;
    position: absolute;
    margin-right: 1rem;
}

/* posição das bolhas no menu iniciar */
.bolhas1{
    margin-top: 195px;
    background-repeat: repeat-x;
    margin-left: 35px;
    background-size: cover;
    background-position: center;
    position: relative;
}

#game1{
    display: flex;
    justify-content: center;
}

#nivel{
    width: 15rem;
    height: 15rem;
    margin-top: -5rem;
    margin-left: 25%;
}
